*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 30px;
    background-color: whitesmoke;
}
.logo{
    width: 100px;
}
.formulario{
    text-align: right;
}

.contenedor{
    text-align: center;
    margin-top: 20px;
    background-color: rgb(251, 194, 17);
    height: 1200px;
}
.img2{
    margin-top: none;
    width: 1000px;
}


.sorteo{
    text-align: left;
    margin-left: 100px;
}
h1{
    font-size: 60px;
}

.subH1{
    font-size: 20px;
}




.info_nba{
    padding: 10px;
    background-color: whitesmoke;
    margin-top: 80px;
    text-align: center;
}
h2{
    margin-top: 40px;
}
.exp{
    margin-top: 40px;
    justify-content: center;
}
ul{
    list-style: none;

}
li{
    font-size: 15px;
    margin-top: 8px;
}

.modelos{
    margin-top: 50px;
}

.mod2{
    height: 250px;
    margin-right: 20px;

}
.mod1{
    margin-right: 20px;
}



footer{
    text-align: center;
    font-size: 10px;
    padding: 20px;
}

.boton2{
    height: 30px;
    width: 140px;
    border: none;
    background-color: rgb(251, 194, 17);
    margin-top: 70px;

}

.logo2{
    text-align: center;
    margin-top: 80px;
    width: 80px;
}
